.container {

    background-color: rgb(255, 239, 242);
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    /* border: 1px solid black; */
}

.servies {
    text-align: center;
    font-family: Cormorant;
    font-size: 48px;
    color: #201041;

    text-shadow: 1px 1px #201041;
}

.s-p {
    font-size: 25px;
    color: black;

}

.s-cont {
    font-family: Cormorant;
    margin-top: 15px;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Creates 4 equal-width columns */
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid black; */
    padding-left: 60px;

}

.s-cont-1-p {

    font-size: 20px;
}



.s-cont-1 {

    /* border: 1px solid black; */
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
   
  

}

.s-count-1-sub{
    background-color: white;
    padding-left: 10px;
}

.s-cont-1-img {

    border-top-left-radius: 15px;
    /* Rounds the top-left corner */
    border-top-right-radius: 15px
}

.s-cont .s-cont-1:nth-child(13) {
    grid-column: 2;
  }
  
  .s-cont .s-cont-1:nth-child(14) {
    grid-column: 3;
  }