*,
::before,
::after {
    padding: 0%;
    margin: 0%;

}

#nav{

   display: flex;
   justify-content: end;
    height: 40px;
    background-color:#641566;
    border: 1px solid #641566;
    padding-left: 0px;
    max-width: 100%;
    /* padding-right: 20px; */
   
   
  
;    
}
.icon-l{

    margin-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
    
}

.icon-hover:hover{

  background-color: black;
}

@media screen and (max-width: 600px) {

  #nav{

    display: none;
  }


}